body {
    background: url(work.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-position:0px 0px;
}

.logo {
    background: url(logo.png);
    text-indent: -999999px;
    width: 199px;
    height: 178px;
}

h2 {
    color: black;
    font-family: "Verdana";
}